<p-divider styleClass="bg-surface">
  <p-button
    label="New"
    icon="pi pi-plus"
    iconPos="left"
    styleClass="p-button-sm"
    (click)="toggleCreationForm()"
  ></p-button>
</p-divider>

<div *ngIf="isCreationVisible" class="pb-8">
  <form class="flex items-center space-x-4" [formGroup]="userCreationForm">
    <div>
      <input
        pInputText
        requied
        placeholder="Name"
        autocomplete="false"
        spellcheck="false"
        formControlName="name"
      />
    </div>
    <div>
      <p-password
        [toggleMask]="true"
        placeholder="Password"
        formControlName="password"
      ></p-password>
    </div>
    <div>
      <p-button
        label="Save"
        icon="pi pi-save"
        iconPos="left"
        styleClass="p-button-success p-button-sm"
        (click)="handleCreateUser()"
      ></p-button>
    </div>
  </form>
</div>

<div class="grid grid-cols-3 gap-6">
  <ng-container *ngIf="!isLoading; else skeleton">
    <div
      *ngFor="let user of usersData"
      class="bg-surface-overlay rounded-xl shadow-sm p-4"
    >

      <div *ngIf="user.id !== userEdit.id">
        <h2 class="flex items-center text-lg font-bold">
          <p-avatar
            icon="pi pi-user"
            styleClass="mr-2"
            size="large"
            shape="circle"
          ></p-avatar>
          <span>
            {{user.name}}
          </span>
        </h2>

        <p-divider></p-divider>

        <div class="flex justify-end items-center space-x-2">
          <p-button
            icon="pi pi-pencil"
            styleClass="p-button-warning p-button-sm p-button-rounded p-button-text p-button-raised"
            (click)="showEditUser(user)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-danger p-button-sm p-button-rounded p-button-text p-button-raised"
            (click)="confirmDelete($event, user)"
          ></p-button>
        </div>
      </div>

      <form
        [formGroup]="userEdit.form"
        *ngIf="user.id === userEdit.id"
        class="space-y-2"
      >
        <div>
          <input
            pInputText
            requied
            placeholder="Name"
            autocomplete="false"
            spellcheck="false"
            formControlName="name"
            class="p-inputtext-sm block w-full"
          />
        </div>
        <div>
          <p-password
            [toggleMask]="true"
            placeholder="Password"
            formControlName="password"
            styleClass="block w-full"
            inputStyleClass="block w-full p-inputtext-sm"
          ></p-password>
        </div>
        <div class="flex justify-end items-center space-x-2">
          <p-button
            icon="pi pi-times"
            styleClass="p-button-info p-button-sm p-button-rounded p-button-text p-button-raised"
            (click)="hideEditForm()"
          ></p-button>
          <p-button
            icon="pi pi-save"
            styleClass="p-button-success p-button-sm p-button-rounded p-button-text p-button-raised"
            (click)="handleEditUser()"
          ></p-button>
        </div>
      </form>

    </div>
  </ng-container>
</div>

<ng-template #skeleton>
  <p-skeleton
    height="8rem"
    styleClass="mb-2"
    borderRadius=".7rem"
    *ngFor="let user of usersData"
  ></p-skeleton>
</ng-template>

<p-confirmPopup></p-confirmPopup>