<div class="pb-4 flex justify-center">
  <app-page-title></app-page-title>
</div>
<div class="bg-surface-overlay p-8 rounded-lg shadow-lg min-w-[300px]">
  <form class="space-y-4" [formGroup]="loginForm">
    <div>
      <label
        htmlFor="name"
        class="text-xl block pb-2"
      >
        Name
      </label>
      <input
        pInputText
        id="name"
        class="w-full"
        type="text"
        spellcheck="false"
        autocomplete="false"
        formControlName="name"
      />
    </div>
    <div>
      <label
        htmlFor="password"
        class="text-xl block pb-2"
      >
        Password
      </label>
      <input
        pInputText
        id="password"
        class="w-full"
        type="password"
        spellcheck="false"
        autocomplete="false"
        formControlName="password"
      />
    </div>
    <div class="space-x-1">
      <p-checkbox
        formControlName="isPersistent"
        inputId="is-persistent"
        [binary]="true"
        [value]="false"
      ></p-checkbox>
      <label for="is-persistent">Remember me</label>
    </div>
  </form>

  <div class="pt-4 flex justify-center">
    <p-button
      label="Submit"
      [loading]="isLoading"
      (click)="handleLoginFormSubmit()"
    ></p-button>
  </div>
  
</div>