<ng-container *ngIf="auth.isAuthenticated; else loggedOut">
  <div class="flex h-full">
    <div class="w-1/5">
      <app-sidebar></app-sidebar>
    </div>
    <div class="w-4/5 p-8 max-h-screen overflow-y-scroll">
      <div class="flex justify-between items-center">
        <app-page-title></app-page-title>
        <div
          *ngIf="auth.authorizedUser as user"
          class="flex justify-center items-center"
        >
          <span class="text-xl">{{ user.name }}</span>
          <p-button
            icon="pi pi-power-off"
            styleClass="p-button-danger p-button-outlined p-button-sm scale-75"
            (click)="auth.logout()"
          ></p-button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #loggedOut>
  <router-outlet></router-outlet>
</ng-template>

<app-notifications></app-notifications>