<div class="flex justify-center h-full">
  <div class="w-1/4" *ngIf="auth.isAuthenticated">
    <app-sidebar></app-sidebar>
  </div>
  <div class="w-full p-8 max-h-screen" [ngClass]="{
    'w-3/4 overflow-y-scroll': auth.isAuthenticated,
    'w-full h-full flex justify-center items-center': !auth.isAuthenticated
  }">
    <div
      class="flex justify-between items-center"
      *ngIf="auth.isAuthenticated"
    >
      <app-page-title></app-page-title>
      <div
        *ngIf="auth.authorizedUser as user"
        class="flex justify-center items-center"
      >
        <span class="text-xl">{{ user.name }}</span>
        <p-button
          icon="pi pi-power-off"
          styleClass="p-button-danger p-button-outlined p-button-sm scale-75"
          (click)="auth.logout()"
        ></p-button>
      </div>
    </div>

    <div class="h-full" [ngClass]="{
      'w-4/12': !auth.isAuthenticated
    }">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<app-notifications></app-notifications>